.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  justify-content: center;
}

.outline {
  border: solid;
}

/*----------------Container inside the Card that holds all the content margin and orientation styling -------------------------------------- */

.contentContainer {
  display: flex;
  border: solid;
  flex-direction: column; /*Now whether in Landscape or Portrait mode the content will be in the correct orientation*/
  margin: 5%;
}

.contentContainer > div {
  border: solid;
  flex-basis: 50%;
}

/*------------------------------------------- Card Container Double Layout Styling ---------------------------------------------------------- */

.cardContainer {
  margin-left: 5%;
  margin-right: 5%;
  border: solid;
  height: 80vh;
  display: flex;
}

.frontCard > div {
  flex-basis: 50%;
}

.backCard > div:nth-child(1) {
  flex-basis: 40%;
}
.backCard > div:nth-child(2) {
  flex-basis: 60%;
}

/*------------------------------------------------------Device Rotation & Orientation----------------------------------- */
@media (orientation: landscape) {
  .cardContainer {
    flex-direction: row;
  }

  .backCard > div:nth-child(1) {
    flex-basis: 70%;
  }
  .backCard > div:nth-child(2) {
    flex-basis: 30%;
  }
}

@media (orientation: portrait) {
  .cardContainer {
    flex-direction: column;
  }

  .backCard > div:nth-child(1) {
    flex-basis: 40%;
  }
  .backCard > div:nth-child(2) {
    flex-basis: 60%;
  }
}
