.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  justify-content: center;
  font-family: "Quattrocento Sans", sans-serif;
}

.outline {
  border: solid;
}

/*--------------------------------Text Styling --------------------------------------------------------------- */

h1 {
  font-size: medium;
  font-family: "Quattrocento Sans", sans-serif;
}

h2 {
  font-size: xx-large;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-family: "Quattrocento", serif;
}

h3 {
  font-size: medium;
  font-family: "Quattrocento Sans", sans-serif;
}

/*----------------Container inside the Card that holds all the content margin and orientation styling -------------------------------------- */

.contentContainer {
  display: flex;
  flex-direction: column; /*Now whether in Landscape or Portrait mode the content will be in the correct orientation*/
  margin: 2em;
}

aside.contentContainer {
  flex-direction: column-reverse;
}

/*------------------------------------------- Flippable Card Container Styling ---------------------------------------------------------- */

/* The flip card container */
.flippableCardContainer {
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  height: 80vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side of the cards in place */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* Do an horizontal flip when you move the flip box container */
.isFlipped .card {
  transform: rotateY(180deg);
}

.frontCard,
.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  border-radius: 1em;
}

.frontCard {
  background-color: white;
}
.backCard {
  background-color: white;
  transform: rotateY(180deg);
  /* so when the card is fliped 180 degrees in the y direction later it'll be right side up */
}

/*--------------------------------------------------Different Layouts on Card Styling---------------------------------------------- */

.frontCard > div {
  flex-basis: 50%;
}

/*------------------------------------------------------Device Rotation & Orientation----------------------------------- */
@media (orientation: landscape) {
  .backCard > div:nth-child(1) {
    flex-basis: 70%;
    margin-right: 7em;
  }
  .backCard > div:nth-child(2) {
    flex-basis: 30%;
  }
}

@media (orientation: portrait) {
  .frontCard,
  .backCard {
    flex-direction: column;
  }

  .backCard > div:nth-child(1) {
    flex-basis: 60%;
  }
  .backCard > div:nth-child(2) {
    flex-basis: 40%;
  }

  .backCard > .contentContainer > #img {
    order: -1; /*So img on the back card will appear on the very top in portrait mode*/
  }
}
